* {
  box-sizing: border-box;
}

.game-container {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 35px;
  border: black solid 1px;
}
